<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Quality System</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--  	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
	
	
	<!-- <script type="text/javascript">
		$(function () {
			debugger;
		    $("#fromDate").datepicker({
		        numberOfMonths: 2,
		        onSelect: function (selected) {debugger;
		            var dt = new Date(selected);
		            dt.setDate(dt.getDate() + 1);
		            $("#toDate").datepicker("option", "minDate", dt);
		        }
		    });
		    
		    $("#toDate").datepicker({
		        numberOfMonths: 2,
		        onSelect: function (selected) {debugger;
		            var dt = new Date(selected);
		            dt.setDate(dt.getDate() - 1);
		            $("#fromDate").datepicker("option", "maxDate", dt);
		        }
		    });
		});
	</script> -->

<script>
//<![CDATA[
window.onload = function() {
	 
	  
	  $("#toDate").on('change', function() {
		    var startDate = document.getElementById("fromDate").value;
		    var endDate = document.getElementById("toDate").value;

		    if ((Date.parse(endDate) <= Date.parse(startDate))) {
		    	document.getElementById('fromDate').value ='';
		    	alert("End date should be greater than Start date");
		      document.getElementById("toDate").value = "";
		    }
		  });
	}
	
$(function(){
	 
	$('#requestId').keyup(function()
	{
		var yourInput = $(this).val();
		re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar)
		{
			var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
			alert("special character is not allowed");
			$(this).val('');
		}
	});
 
});
	
$(function(){
	 
	$('#requestTitle').keyup(function()
	{
		var yourInput = $(this).val();
		re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar)
		{
			var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
			alert("special character is not allowed");
			$(this).val('');
		}
	});
 
});
	function getSearchData(searchData){debugger;
		var form = $('#searchListRequest').serialize();
		alert("welcome to search funtion"+form);	
		jQuery.ajax({
			url : "/searchRequest",
			type : "POST",
			data : form,
	        //contentType: "charset=UTF-8",
			success : function(resultData) {
				debugger;alert("success");
				var l_data = eval('data='+resultData);

			},
			error : function(a) {
				alert("1");
			}
		})
	}	
	function getViewData(view){debugger;
		var requestId = $(view).parents("tbody").find(".request-Id").text();
		alert("request id is"+requestId);
		window.location="/view?requestId="+requestId;
	}
//]]>
</script>

</head>

<body>
	<div th:include="topnav::topnav"></div> 

    <!-- Body -->
    <div class="container ">

        <h1>List Requests</h1>
        <section style = "color: #2c3e50;background-color: #ecf0f1;border-color: #ecf0f1;padding: 10px 10px 10px 10px;">
        	
		<div class="row" style = "padding: 10px 10px 10px 10px;"><h3>Search Criteria</h3>
		            <form name = "searchListRequest" id = "searchListRequest">
		            <div class="form-group col-xs-6">
                        <label for="requestId">Request Id</label>
                        <input type="text" class="form-control" id="requestId" name="requestId" placeholder="Request Id"/>
                    </div>
		            <div class="form-group col-xs-6">
                        <label for="requestTitle">Request Title</label>
                        <input type="text" class="form-control" id="requestTitle" name="requestTitle" placeholder="Request Title"/>
                    </div>
		            <div class="form-group col-xs-6">
                        <label for="priority">Priority</label>
							<select class="form-control" id="priority" name = "priority">
                        		  <option value="select">Select</option>
								  <option value="low">Low</option>
								  <option value="moderate">Moderate</option>
								  <option value="high">High</option>
								  <option value="urgent">Urgent</option></select>
                    </div>
		            <div class="form-group col-xs-6">
                        <label for="status">Status</label>
                        <select class="form-control" id="status" name="status">
                        		  <option value="select">Select</option>
								  <option value="requested">Requested</option>
								  <option value="inProgress">InProgress</option>
								  <option value="assigned">Assigned</option>
								  <option value="reassigned">ReAssigned</option>
								  <option value="escalated">Escalated</option>
								  <option value="rejected">Rejected</option>
								  <option value="closed">Closed</option>
								  <option value="deleted">Deleted</option></select>
                    </div>
                            <div class="form-group col-xs-6">
                                <label for="fromDate">From Date</label>
                                <input type="date" class="form-control" id="fromDate" name="fromDate" placeholder="Select"/>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="toDate">To Date</label>
                                <input type="date" class="form-control" id="toDate" name ="toDate" placeholder="Select"/>
                            </div>
		            <div class="form-group col-xs-6">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control"  id="tags" name="tags" placeholder="Tags"/>
                    </div>
                   <div class="form-group">
                   <button class="btn btn-primary" style="margin-top:25px;;margin-left:17px" onclick="getSearchData(this)">Search</button></div>
         </form>
		</div>
		<div class = "row" style = "padding: 10px 10px 10px 10px;">
		<h3>Result List</h3>
			<div th:each="request : ${allRequests}" >
				<div class="col-sm-4" style = "background-color: #ecf0f1;height: auto;padding: 10px 15px;border: 5px solid  #ecf0f1;">

					<div class="panel panel-default" style = "padding:5px 5px;">

						<table class="table">
							<tr>
								<th>Request Id:</th>
								<td ><span class = "request-Id" th:text="${request.requestId}"></span></td>
							</tr>
							<tr>
								<th>Request Title:</th>
								<td ><span th:text="${request.requestTitle}"></span></td>
							</tr>
							<tr>
								<th>Short Description:</th>
								<td><span th:text="${request.shortDescription}"></span></td>
							</tr>
							<tr>
								<th>Tags:</th>
								<td><span th:text="${request.tags}"></span></td>
							</tr>
<!-- 							<tr>
								<th>Created Date</th>
								<td><span th:text="${request.createdBy}"></span></td>
							</tr>
							<tr>
								<th>Content Type</th>
								<td><a><span th:text="${request.contentType}"></span></a></td>
							</tr>-->
							<tr> 
								<td><button class="btn btn-primary" onclick ="getViewData(this)">View</button></td>
							</tr>
						</table>
					</div>

				</div>

			</div>
			</div>
	</section>
	</div>


</body>

</html>