<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Quality System</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
	
 <script>
window.onload = function() {
	  document.getElementById('textbox').style.display = 'none';
	  document.getElementById('documentbox').style.display = 'none';
	}

function showDiv(elem){
	   if(elem.value == 'Text'){
		   document.getElementById('documentbox').style.display = 'none';
		   document.getElementById('textbox').style.display = "block";
	   }
	   if(elem.value == 'Document'){
		   document.getElementById('textbox').style.display = 'none';
		   document.getElementById('documentbox').style.display = "block";
	   }
	}
</script>
</head>

<body>
	<div th:include="topnav::topnav"></div>
	 
    <!-- Body -->
    <div class="container" style="width:90%;">
		
        <h1>Reply Request</h1>


        <div class="row">

            <form action="#" th:action="@{/reply}" th:object="${request}"  method="post" enctype="multipart/form-data">
		            <div class="form-group col-xs-4">
                        <label for="status">Status</label>
                        <select class="form-control" id="status">
                        		  <option value="select">Select</option>
								  <option value="requested">Requested</option>
								  <option value="inProgress">InProgress</option>
								  <option value="assigned">Assigned</option>
								  <option value="reassigned">ReAssigned</option>
								  <option value="escalated">Escalated</option>
								  <option value="rejected">Rejected</option>
								  <option value="closed">Closed</option>
								  <option value="deleted">Deleted</option></select>
                    </div>
		            <div class="form-group col-xs-4">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control"  id="tags" placeholder="Tags"/>
                    </div>
		            <div class="form-group col-xs-4">
                        <label for="tags">Remarks</label>
                        <input type="text" class="form-control"  id="remarks" placeholder="remarks"/>
                    </div>
                <div class="col-sm-6">

				   <div class="form-group" id="contentType" >
                        <label for="requestTitle" >Content Type</label><br/>
                        <select style="height:45px;width:675px;border:1px solid black" onchange="showDiv(this)">
 							<option hidden="">Choose Content Type</option>
							 <option>Text</option>
							 <option>Document</option>
							 <option>Link</option>
						</select>
                    </div>
                     <div  id='textbox' class="form-group">
                        <label for="description">Content Text</label>
                        <textarea style="border:1px solid black" class="form-control"  rows="3" id="text"></textarea>
                    </div>
                    
                     <div id='documentbox' class="form-group">
                        <label for="document">Choose File</label>
                        <input style="border:1px solid black" type="file" class="form-control" id="file" name="file"/>
                    </div>   <br/>


                    <button type="submit" class="btn btn-primary" style="border:1px solid black">Submit</button>
                    <button type="submit" class="btn btn-danger" style="background-color:grey;border:1px solid black">Cancel</button>

                </div>
            </form>

        </div>

    </div>

    <!-- JavaScript -->
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.js"></script>

</body>

</html>