<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Quality System</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>

</head>



<body>
	<div th:include="topnav::topnav"></div>
	 
    <!-- Body -->
    <div class="container">
		
        <h1>View Request</h1>

				<div class="col-sm-12">

					<div class="panel panel-default">
						<div class="panel-heading">
							Request <span th:text="${request.requestId}"></span>
						</div>
						<table class="table">
							<tr>
								<th>Short Description</th>
								<td><span th:text="${request.shortDescription}"></span></td>
							</tr>
							<tr>
								<th>Description</th>
								<td><span th:text="${request.description}"></span></td>
							</tr>
							<tr>
								<th>Content Type</th>
								<td><span th:text="${request.contentType}"></span></td>
							</tr>
							<tr>
								<th>Created Date</th>
								<td><span th:text="${request.createdAt}"></span></td>
							</tr>
							<tr>
								<th>Uploaded File</th>
		
								<td><span th:text="${request.contentType}"></span></td>
							</tr>
							<tr>
								<td><button class="btn btn-primary" onclick ="window.location='reply'">Change Status</button></td>
							</tr>
						</table>
					</div>

				</div>
        

    </div>

    <!-- JavaScript -->
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.js"></script>

</body>

</html>